AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: microsoft
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ConstructorInitializerIndentWidth: 2
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IndentWidth: 2
Language: Cpp
NamespaceIndentation: None
PackConstructorInitializers: Never
PointerBindsToType: true
ReflowComments: true
SeparateDefinitionBlocks: Always
SortIncludes: true
