*.[ao]
*.mo
*.la
*.lo
.deps
.libs

CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
config.h
CMakeLists.txt.user
deploy
CMakeLists.txt.user.*
conan_venv/*
*.bat
conanbuildinfo.txt
conaninfo.txt
graph_info.json
conan.lock
build/*
